.bookmark-button {
  font-size: 3rem;
  display: inline-block;
  border: 1px solid currentColor;
  background: rgba(0,255,0,0.2);
  color: rgba(100,200,100,1);
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
}

p.lead {
  margin-top: 10rem;
}
